<% title "Welcome to Spatula, An easy online shopping tool for humans." %>

<section class="masthead">
  <div class="row"><div class="large-10 large-centered columns">
    <h1>Introducing Spatula.</h1>
    <h2>A new tool for online shoppers that's as flipping pancakes.</h2>
    <h3>534,203 searches and counting.</h3>
  </div></div>
</section>

<hr class="section-spacer">

<section class="row"><div class="large-6 large-centered columns">
</div></section>

<hr class="section-spacer">
