
<div class="row">
  <div class="columns">

    <hr class="section-spacer">

    <%= render 'form' %>

    <ul class="search-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4"></ul>

  </div>
</div>
