<div class="row">
  <div class="columns">

    <hr class="section-spacer">

    <%= render 'form' %>

    <div class="row">
      <div class="columns">
        <h3 class="filter-title"></h3>
      </div>
    </div>

    <ul class="search-grid small-block-grid-2 medium-block-grid-3 large-block-grid-4"></ul>

    <a href="#" class="button" id="load-more">Load More Results</a>

  </div>
</div>
